/*modal test*/
.wrap-quotation-modal {
    position: fixed;
    margin: 0 auto;
    top: 100px;
    left: 400px;
    z-index: 100;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    }
    .show-quotation-modal {
      visibility: visible;
      opacity: 1;
    }
/*modal test end*/
    .components-orders-title-div {
        display: flex;
        margin-bottom: 5px;
    }
    .components-orders-title-div i {
        font-size: 20px;
        color: #170c53;
    }
    .components-orders-title-div h5 {
        padding-top: 4px;
        margin: 0 0 0 5px;
        color: #170c53;
        text-shadow: 0 1px 1px #9b88e5;
    }
/*components-orders-search*/
    .components-orders-search {
        width: 1200px;
        height: 260px;
        display: flex;
        border: 3px solid #cbd0e8;
        border-radius: 5px;
        padding: 20px 10px 10px 30px;
        background: #eef4fb;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 22px;
    }
    .components-orders-search .components-orders-search-section ul {
        list-style: none;
    }
    .components-orders-search .components-orders-search-section ul li{
        margin: 20px;
    }
    .components-orders-search .components-orders-search-section ul li label{
        color: #2b578f;
    }
    .components-orders-search .components-orders-search-section ul li label:first-child{
        width: 80px;
        text-align: right;
        margin-right: 10px;
    }
    .components-orders-search .components-orders-search-section ul li label:not(:first-child){
        margin: 0 20px;
    }
    .components-orders-search .components-orders-search-section ul li input{
        width: 200px;
        border-color: #2b578f;
        border-width: 0;
        border-bottom-width: 1px;
        border-radius: 3px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
/*components-orders-search end*/

/*components-orders-list*/
.components-orders-container {
    margin-top: 80px;
    margin-left: 300px;
    padding: 20px 30px;
}
.components-orders-list-top {
    background-color: #5a6fa3 !important;
    color: white;
}
.components-orders-list{
    overflow: auto;
    box-sizing: border-box;
    border: 3px solid #cbd0e8;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
}
.components-orders-list::-webkit-scrollbar {
  width: 10px;
}
.components-orders-list::-webkit-scrollbar-thumb {
  background-color: #0b002e;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.components-orders-list::-webkit-scrollbar-thumb:hover {
  background-color: #180063;
}
.components-orders-list::-webkit-scrollbar-track {
  background-color: #d4d4d4;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}
.components-orders-list > table{
    table-layout: fixed;
    position: relative;
    border-collapse: separate !important;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    width:100%;
    border-width:0px;
    overflow: visible;
    background-color: #fff;
}
.components-orders-list td ,.components-orders-list th{
    border-left: 1px solid rgba(171, 173, 186, 0.3);
    border-right: 1px solid rgba(171, 173, 186, 0.3);
    border-bottom: 1px solid rgba(171, 173, 186, 0.5);
    padding: .4rem;
}
.components-orders-list{
    width:1200px;
    height:400px;
    margin:0 auto 15px auto;
}
.components-orders-list-top{
    position: sticky;
    top:0;
    z-index: 20;
    text-align: center;
}
.components-orders-list .components-orders-list-table thead tr th {
    text-align: center;
}
.components-orders-list .components-orders-list-table tbody tr td {
    text-align: center;
}
.components-orders-list .components-orders-list-table tbody tr td:last-child {
    display: flex;
    justify-content: space-evenly;
}
.components-orders-registration-btn {
    float: right;
    margin: auto 0 0 auto;
}
.components-orders-registration-btn a{
    margin: 0;
}
.components-orders-list-remove-btn {
    float: right;
    margin-right: 10px;
}
.components-orders-list-remove-btn a{
    margin: 0;
}
/*components-orders-list end*/

/*quotation modal*/
.quotation-modal-container {
    width: 1050px;
    height: 765px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #ecf7ff;
}
.quotation-modal-title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient( to bottom, #1c329c 10%, #00188a 20%, #010c42 100%);
}
.quotation-modal-title span{
    font-size: 15px;
    color: white;
}
.quotation-modal-main {
    padding: 0px 60px 40px 60px;
}
.quotation-modal-recipient {
    display: flex;
    height: 100px;
    background: #eef4fb;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 3px solid #cbd0e8;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.quotation-modal-recipient-title {
    display: flex;
    width: 150px;
    padding-top: 5px;
    color: #2b578f;
    justify-content: center;
    border-right:1px solid rgba(171, 173, 186, 0.6);
}
.quotation-modal-recipient-info {

}
.quotation-modal-recipient-info ul{
    padding-left: 10px;
    list-style: none;
}
.quotation-modal-recipient-info ul li:not(:last-child){
    margin-bottom: 7px;
}
.quotation-modal-recipient-info ul li label {
    width: 120px;
    color: #2b578f;
    margin-right: 10px;
    text-align: right;
}
.quotation-modal-recipient-info ul li input {
    width: 200px;
    text-align: center;
    border: 1px solid #cacbd5;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.quotation-modal-supplier {
    display: flex;
    height: 198px;
    background: #eef4fb;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 3px solid #cbd0e8;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.quotation-modal-supplier-title {
    display: flex;
    width: 150px;
    padding-top: 5px;
    color: #2b578f;
    justify-content: center;
    border-right:1px solid rgba(171, 173, 186, 0.6);
}
.quotation-modal-supplier-info {
}
.quotation-modal-supplier-info ul{
    padding-left: 10px;
    list-style: none;
}
.quotation-modal-supplier-info ul li:not(:last-child) {
    margin-bottom: 7px;
}
.quotation-modal-supplier-info ul li label {
    width: 120px;
    color: #2b578f;
    margin-right: 10px;
    text-align: right;
}
.quotation-modal-supplier-info ul li input {
    width: 200px;
    text-align: center;
    border: 1px solid #cacbd5;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#quotation-modal-input-supplier-company-address {
    width: 540px;
}
.quotation-modal-quotation-list-top {
    background-color: #5a6fa3 !important;
    color: white;
}
.quotation-modal-quotation-list{
    overflow: auto;
    box-sizing: border-box;
    border: 3px solid #cbd0e8;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
}
.quotation-modal-quotation-list::-webkit-scrollbar {
  width: 10px;
}
.quotation-modal-quotation-list::-webkit-scrollbar-thumb {
  background-color: #0b002e;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.quotation-modal-quotation-list::-webkit-scrollbar-thumb:hover {
  background-color: #180063;
}
.quotation-modal-quotation-list::-webkit-scrollbar-track {
  background-color: #d4d4d4;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px white;
}
.quotation-modal-quotation-list > table{
    table-layout: fixed;
    position: relative;
    border-collapse: separate !important;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    width:100%;
    border-width:0px;
    overflow: visible;
    background-color: #fff;
}
.quotation-modal-quotation-list td ,.quotation-modal-quotation-list th{
    border-left: 1px solid rgba(171, 173, 186, 0.3);
    border-right: 1px solid rgba(171, 173, 186, 0.3);
    border-bottom: 1px solid rgba(171, 173, 186, 0.5);
    padding: .4rem;
}
.quotation-modal-quotation-list{
    width:928px;
    height:230px;
    margin:0 auto 15px auto;
}
.quotation-modal-quotation-list-top{
    position: sticky;
    top:0;
    z-index: 20;
    text-align: center;
}
.quotation-modal-quotation-list .quotation-modal-quotation-list-table tr:not(:first-child) td {
    text-align: center;
}
.quotation-modal-quotation-list .quotation-modal-quotation-list-table tr td input {
    width: 90%;
    height: 90%;
    border-width: 0;
    text-align: center;
}
.quotation-modal-summary {
    display: flex;
}
.quotation-modal-note {
    margin-right: 20px;
}
.quotation-modal-note textarea{
    width: 500px;
    height: 100px;
    resize: none;
    border-radius: 5px;
}
.quotation-modal-total {
    display: flex;
    flex-direction: column;
}
.quotation-modal-total .quotation-modal-total-line{
    margin-bottom: 3px;
}
.quotation-modal-total .quotation-modal-total-line label{
    width: 60px;
    margin-right: 10px;
    text-align: right;
}
.quotation-modal-total .quotation-modal-total-line input{
    border-width: 0;
    border-bottom-width: 1px;
}
.quotation-modal-submit-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px 10px auto;
}
.quotation-modal-submit-button a {
    width: 80px;
    height: 30px;
    line-height: 20px;
    text-align: center;
}
/*quotation modal end*/
/*gradient color botton*/
.gradient-color-btn {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  margin: 5px;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0,0,0,0.21);
  border-bottom: 4px solid rgba(0,0,0,0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  padding: 4px 12px;
  font-size: 14px;
}
.gradient-color-btn.blue {
  background: #7ca5ce;
  background: -moz-linear-gradient(top, #7ca5ce 0%, #3d70a0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #7ca5ce), color-stop(100%, #3d70a0));
  background: -webkit-linear-gradient(top, #7ca5ce 0%, #3d70a0 100%);
  background: -o-linear-gradient(top, #7ca5ce 0%, #3d70a0 100%);
  background: -ms-linear-gradient(top, #7ca5ce 0%, #3d70a0 100%);
  background: linear-gradient(to bottom, #7ca5ce 0%, #3d70a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ca5ce', endColorstr='#3d70a0', GradientType=0 );
}
.gradient-color-btn.blue:hover {
  background: #88b3db;
  background: -moz-linear-gradient(top, #88b3db 0%, #5a85ad 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #88b3db), color-stop(100%, #5a85ad));
  background: -webkit-linear-gradient(top, #88b3db 0%, #5a85ad 100%);
  background: -o-linear-gradient(top, #88b3db 0%, #5a85ad 100%);
  background: -ms-linear-gradient(top, #88b3db 0%, #5a85ad 100%);
  background: linear-gradient(to bottom, #88b3db 0%, #5a85ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b3db', endColorstr='#5a85ad', GradientType=0 );
  color:white; text-decoration: none; border-bottom: 4px solid #3d70a0 100%;
}
.gradient-color-btn.blue:active   {background: #3d70a0;}
/*gradient color botton end*/