<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidenavFragment">

<div class="container">
    <div class="pagetitle">
        <h1>[[${member.memeber_userid}]]</h1>
        <div class="btnGroup">
            <div class="row mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="row mb-3">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                </form>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <span>~</span>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="date" class="form-control">
                </div>
            </div >
            <div class="row mb-3">
                <button type="submit" class="btn btn-primary">저장</button>
            </div><!-- End Search Bar -->
        </div>
    </div><!-- End Page Title -->
</div>
</th:block>