<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<main id="main" class="main" style="width: 100%;">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Bordered Table -->
                        <table class="table table-bordered">
                            <thead>
                            <tr style="text-align: center; background-color:#ecf7ff">
                                <th class="table-active" scope="col">순차</th>
                                <th class="table-active" scope="col">거래처</th>
                                <th class="table-active" scope="col">주소</th>
                                <th class="table-active" scope="col">사업자 번호</th>
                                <th class="table-active" scope="col">회사 번호</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="item : ${list}">
                                <td th:text="${item.partnerId}" style="text-align: center"></td>
                                <!-- 나머지 속성들에 대해서도 동일하게 처리 -->
                                <td th:text="${item.bpName}" style="text-align: center"></td>
                                <td th:text="${item.address}"></td>
                                <td th:text="${item.companyNumber}" style="text-align: center"></td>
                                <td th:text="${item.phone}" style="text-align: center"></td>
                            </tr>

                            <nav id="pagination-container" aria-label="Page navigation example" style="padding:20px;">
                                <ul class="pagination" style="justify-content: end;">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li  class="page-item" th:each="pageNumber:${#numbers.sequence(1, list.totalPages)}">
                                        <a class="page-link pageA"
                                           th:classappend="${pageNumber == (list.number + 1) ? 'btn-warning' : ''}"
                                           th:href="@{'/partnerList?page=' + ${pageNumber - 1} + '&size=10'}"
                                           th:text="${pageNumber}"></a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            </tbody>
                        </table>
                        <!-- End Bordered Table -->
                    </div>

                    <div class="quotation-modal-submit-button">
                        <a href="#" class="gradient-color-btn blue js-show-quotation-modal" style="width:100px">거래처 등록</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <th:block th:replace="~{fragments/footer:: footerFragment}"></th:block>
    <div class="quotation-modal-container wrap-quotation-modal js-quotation-modal">
        <div class="quotation-modal-title">
            <span>거래처 등록</span>
        </div>
        <div class="quotation-modal-main">
            <div class="quotation-modal-supplier">
                <div class="quotation-modal-supplier-title">
                    <h5>거래처</h5>
                </div>
                <div class="quotation-modal-supplier-info">
                    <ul>
                        <li>
                            <label for="quotation-modal-input-supplier-company-number">사업자 등록번호</label>
                            <input type="text" id="quotation-modal-input-supplier-company-number">
                            <label for="quotation-modal-input-supplier-company-name">상호</label>
                            <input type="text" id="quotation-modal-input-supplier-company-name">
                        </li>
                        <li>
                            <label for="quotation-modal-input-supplier-company-address">사업장 소재지</label>
                            <input type="text" id="quotation-modal-input-supplier-company-address">
                        </li>
                        <li>
                            <label for="quotation-modal-input-supplier-sector">업태</label>
                            <input type="text" id="quotation-modal-input-supplier-sector">
                            <label for="quotation-modal-input-supplier-business-type">업종</label>
                            <input type="text" id="quotation-modal-input-supplier-business-type">
                        </li>
                        <li>
                            <label for="quotation-modal-input-supplier-representative">대표자</label>
                            <input type="text" id="quotation-modal-input-supplier-representative">
                            <label for="quotation-modal-input-supplier-phone">연락처</label>
                            <input type="text" id="quotation-modal-input-supplier-phone">
                        </li>
                        <li>
                            <label for="quotation-modal-input-supplier-representative">Fax no.</label>
                            <input type="text" id="quotation-modal-input-partner-fax">
                            <label for="quotation-modal-input-supplier-phone">협력 종류</label>
                            <input type="text" id="quotation-modal-input-partner-type">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="quotation-modal-summary">
                <div class="quotation-modal-note">
                    <textarea placeholder="비고"></textarea>
                </div>
                <div class="quotation-modal-submit-button">
                    <a href="#" class="gradient-color-btn blue" onclick="savePost()">등록</a>
                    <a href="#" class="gradient-color-btn blue js-hide-modal-login">취소</a>
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->
<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<script>
    /*[ Show quotation modal ]*/
    $('.js-show-quotation-modal').on('click',function(e){
        e.preventDefault();
        $('.js-quotation-modal').addClass('show-quotation-modal');
    });

    $('.js-hide-modal-login').on('click',function(){
        $('.js-quotation-modal').removeClass('show-quotation-modal');
    });

    const savePost = async () => {
        const companyNumber = document.getElementById('quotation-modal-input-supplier-company-number').value;
        const bpName = document.getElementById('quotation-modal-input-supplier-company-name').value;
        const address = document.getElementById('quotation-modal-input-supplier-company-address').value;
        const type = document.getElementById('quotation-modal-input-supplier-sector').value;
        const bigType = document.getElementById('quotation-modal-input-supplier-business-type').value;
        const headName = document.getElementById('quotation-modal-input-supplier-representative').value;
        const phone = document.getElementById('quotation-modal-input-supplier-phone').value;
        const fax = document.getElementById('quotation-modal-input-partner-fax').value;
        const smallType = document.getElementById('quotation-modal-input-partner-type').value;
        const note = document.querySelector('.quotation-modal-note textarea').value;

        try {
            const response = await $.ajax({
                type: 'POST',
                url: '/register',
                contentType: 'application/json',
                data: JSON.stringify({
                    companyNumber,
                    bpName,
                    address,
                    type,
                    bigType,
                    headName,
                    phone,
                    fax,
                    smallType,
                    note,
                }),
            });

            closeModal();
            location.reload(); // 페이지 새로고침
        } catch (error) {
            console.error('Error saving post:', error);
        }
    };
</script>
</body>

</html>