<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
  <div class="component-order-container">
    <div class="component-order">
      <div class="component-order-page-top">
        <div class="component-order-title-div">
          <i class="bi bi-card-checklist"></i>
          <h5 class="component-order-list-title">발주 조회</h5>
        </div>
      </div>
      <!-- search -->
      <div class="component-order-search">
        <div class="component-order-search-section">
          <ul>
            <li>
              <label for="component-order-search-order-number">발주 번호</label>
              <input type="text" id="component-order-search-order-number">
            </li>
            <li>
              <label for="component-order-search-order-company-name">거래처명</label>
              <input type="text" id="component-order-search-order-company-name">
            </li>
            <li>
              <label for="component-order-search-order-content">발주 내용</label>
              <input type="text" id="component-order-search-order-content">
            </li>
          </ul>
        </div>
        <div class="component-order-search-section">
          <ul>
            <li>
              <label for="component-order-search-order-date-from">발주일</label>
              <input type="date" id="component-order-search-order-date-from">
              <label for="component-order-search-order-date-to"> ~ </label>
              <input type="date" id="component-order-search-order-date-to">
            </li>
            <li>
              <label for="component-order-search-delivery-date-from">납기일</label>
              <input type="date" id="component-order-search-delivery-date-from">
              <label for="component-order-search-delivery-date-to">~</label>
              <input type="date" id="component-order-search-delivery-date-to">
            </li>
            <li>
              <label for="component-order-search-shipping-date-from">수취일</label>
              <input type="date" id="component-order-search-shipping-date-from">
              <label for="component-order-search-shipping-date-to">~</label>
              <input type="date" id="component-order-search-shipping-date-to">
            </li>
            <li>
              <label for="component-order-search-order-total-price-low">총액</label>
              <input type="text" id="component-order-search-order-total-price-low">
              <label for="component-order-search-order-total-price-high">~</label>
              <input type="text" id="component-order-search-order-total-price-high">
            </li>
          </ul>
        </div>
        <div class="component-order-registration-btn">
          <a href="#" class="gradient-color-btn blue">조회</a>
          <a href="#" class="gradient-color-btn blue js-show-component-order-modal">등록</a>
        </div>
      </div>
      <!--  search end -->
      <div class="component-order-list">

        <!-- Table with stripped rows -->
        <table class="component-order-list-table resizableTable selectableTable">
          <colgroup>
            <col style="width: 5%">
            <col style="width: 10%">
            <col style="width: 10%">
            <col style="width: 18%">
            <col style="width: 9%">
            <col style="width: 9%">
            <col style="width: 9%">
            <col style="width: 10%">
            <col style="width: 10%">
          </colgroup>
          <thead>
          <tr>
            <th scope="col" class="component-order-list-top">No.</th>
            <th scope="col" class="component-order-list-top">발주번호</th>
            <th scope="col" class="component-order-list-top">거래처명</th>
            <th scope="col" class="component-order-list-top">발주 내용</th>
            <th scope="col" class="component-order-list-top">발주일</th>
            <th scope="col" class="component-order-list-top">납기일</th>
            <th scope="col" class="component-order-list-top">수취일</th>
            <th scope="col" class="component-order-list-top">총액</th>
            <th scope="col" class="component-order-list-top"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item, i : ${list}">
            <td scope="row" th:text="${i.index + 1}" class=""></td>
            <td th:text="${item.vendorName}"></td>
            <td th:text="${item.orderForm}"></td>
            <td th:text="${item.orderDate}"></td>
            <td th:text="${item.deliveryDate}"></td>
            <td th:text="${item.receiptDate}"></td>
            <td th:text="${item.receiptDate}"></td>
            <td th:text="${item.amount}"></td>
            <td>
              <input type="hidden" name="componentOrderItemId" value="{item.componentOrderItemId}">
              <a href="#" class="gradient-color-btn blue js-show-partner-quotation-modal" th:attr="data-id=${item.componentOrderItemId}">수정</a>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- End Table with stripped rows -->
        <nav id="pagination-container" aria-label="Page navigation example" style="padding:20px;">
          <ul class="pagination" style="justify-content: end;">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li  class="page-item" th:each="pageNumber:${#numbers.sequence(1, list.totalPages)}">
              <a class="page-link pageA"
                 th:classappend="${pageNumber == (list.number + 1) ? 'btn-warning' : ''}"
                 th:href="@{'/componentList?page=' + ${pageNumber - 1} + '&size=10'}"
                 th:text="${pageNumber}">
              </a>
            </li>

            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
<!--    end of pagination -->
      <div class="component-order-list-remove-btn">
        <a href="#" class="gradient-color-btn blue">삭제</a>
      </div>
    </div>
  </div>
  <th:block th:replace="~{fragments/footer:: footerFragment}"></th:block>
  <!-- registration modal -->
  <div class="component-order-modal-container wrap-component-order-modal js-component-order-modal">
    <div class="component-order-modal-title">
      <span>발주서</span>
    </div>
    <div class="component-order-modal-main">
      <div class="component-order-modal-recipient">
        <div class="component-order-modal-recipient-title">
          <h6>공급 받는 자</h6>
        </div>
        <div class="component-order-modal-recipient-info">

          <ul>
            <li>
              <label for="component-order-modal-input-component-order-date">발주일</label>
              <input type="date" id="component-order-modal-input-component-order-date">
              <label for="component-order-modal-input-shipping-date">수취일</label>
              <input type="date" id="component-order-modal-input-shipping-date">
            </li>
            <li>
              <label for="component-order-modal-input-member">담당자</label>
              <input type="text" id="component-order-modal-input-member">
            </li>
          </ul>
        </div>
      </div>
      <div class="component-order-modal-supplier">
        <div class="component-order-modal-supplier-title">
          <h6>공급자</h6>
        </div>
        <div class="component-order-modal-supplier-info">
          <ul>
            <li>
              <label for="component-order-modal-input-supplier-company-number">사업자 등록번호</label>
              <input type="text" id="component-order-modal-input-supplier-company-number">
              <label for="component-order-modal-input-supplier-company-name">상호</label>
              <input type="text" id="component-order-modal-input-supplier-company-name">
            </li>
            <li>
              <label for="component-order-modal-input-supplier-company-address">사업장 소재지</label>
              <input type="text" id="component-order-modal-input-supplier-company-address">
            </li>
            <li>
              <label for="component-order-modal-input-supplier-sector">업태</label>
              <input type="text" id="component-order-modal-input-supplier-sector">
              <label for="component-order-modal-input-supplier-business-type">업종</label>
              <input type="text" id="component-order-modal-input-supplier-business-type">
            </li>
            <li>
              <label for="component-order-modal-input-supplier-representative">대표자</label>
              <input type="text" id="component-order-modal-input-supplier-representative">
              <label for="component-order-modal-input-supplier-phone">연락처</label>
              <input type="text" id="component-order-modal-input-supplier-phone">
            </li>
            <li>
              <label for="component-order-modal-input-supplier-delivery-date">납기일</label>
              <input type="date" id="component-order-modal-input-supplier-delivery-date">
            </li>
          </ul>
        </div>
      </div>
      <div class="component-order-modal-component-order-list" data-component-order-modal-component-order-list-top="0" data-component-order-modal-component-order-list-left="0">
        <table class="component-order-modal-component-order-list-table resizableTable" id="component-order-modal-component-order-list-table">
          <colgroup>
            <col style="width: 18%">
            <col style="width: 10%">
            <col style="width: 6%">
            <col style="width: 14%">
            <col style="width: 6%">
            <col style="width: 14%">
            <col style="width: 14%">
            <col style="width: 18%">
          </colgroup>
          <thead>
            <tr>
              <th class="component-order-modal-component-order-list-top">항목</th>
              <th class="component-order-modal-component-order-list-top">수량</th>
              <th class="component-order-modal-component-order-list-top">단위</th>
              <th class="component-order-modal-component-order-list-top">단가</th>
              <th class="component-order-modal-component-order-list-top">통화</th>
              <th class="component-order-modal-component-order-list-top">공급가</th>
              <th class="component-order-modal-component-order-list-top">부가세</th>
              <th class="component-order-modal-component-order-list-top">비고</th>
            </tr>
          </thead>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
          </tr>
        </table>
      </div>
      <div class="component-order-modal-summary">
        <div class="component-order-modal-note">
          <textarea></textarea>
        </div>
        <div class="component-order-modal-total">
          <div class="component-order-modal-total-line">
            <label for="component-order-modal-input-total-supply-value">공급가</label>
            <input type="text" id="component-order-modal-input-total-supply-value" readonly>
          </div>
          <div class="component-order-modal-total-line">
            <label for="component-order-modal-input-total-value-added-tax">부가세</label>
            <input type="text" id="component-order-modal-input-total-value-added-tax" readonly>
          </div>
          <div class="component-order-modal-total-line">
            <label for="component-order-modal-input-total-subtotal">소계</label>
            <input type="text" id="component-order-modal-input-total-subtotal" readonly>
          </div>
        </div>
        <div class="component-order-modal-submit-button">
          <a href="#" class="gradient-color-btn blue">등록</a>
          <a href="#" class="gradient-color-btn blue js-hide-component-order-modal">취소</a>
        </div>
      </div>

    </div>
  </div>
  <!-- registration modal end-->
  <!--===============================================================================================-->
<!--<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>-->
<script>
  /*[ Show component-order modal ]*/
  $('.js-show-component-order-modal').on('click',function(e){
      e.preventDefault();
      $('.js-component-order-modal').addClass('show-component-order-modal');
  });

  $('.js-hide-component-order-modal').on('click',function(){
      $('.js-component-order-modal input').val('');
      $('.js-component-order-modal').removeClass('show-component-order-modal');
  });

  /*[ Table input only number ]*/
  $(document).ready(function() {
    const table = document.getElementById("component-order-modal-component-order-list-table");
    const trs = table.getElementsByTagName("tr");
    var targetColumn = [1,3,5,6];
    for (let i = 1; i < trs.length; i++) {
      for (var j = 0; j < targetColumn.length; j++) {
        const tds = trs[i].getElementsByTagName("td");
        const input = tds[targetColumn[j]].querySelector("input");
        input.setAttribute('oninput', 'this.value = this.value.replace(/[^0-9]/g, \'\')');
        input.setAttribute('onclick','focusOn(event)');
        input.setAttribute('onblur','focusOff(event)');
        if(targetColumn[j]==5){
          input.classList.add('component-order-modal-component-order-list-supply-value');
        }else if(targetColumn[j]==6){
          input.classList.add('component-order-modal-component-order-list-value-added-tax');
        }
      }
    }
  });
  function focusOn(event){
    const inputBox = event.target;
    removeComma(inputBox);
  }

  function focusOff(event){
    const inputBox = event.target;
    const classList = inputBox.classList;
    const isContainSupplyValue = classList.contains('component-order-modal-component-order-list-supply-value');
    const isContainAddedTax = classList.contains('component-order-modal-component-order-list-value-added-tax');
    if(isContainSupplyValue){
      setTotalSupplyValue();
    }else if(setTotalValueAddedTax){
      setTotalValueAddedTax();
    }
    inputComma(inputBox);
  }
  function removeComma(targetElement){
    if(targetElement.value != ''){
      const value = targetElement.value.replace(/,/g, '');
      targetElement.value = value;
    }
    return targetElement;
  }
  function inputComma(targetElement){
      const value = targetElement.value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      targetElement.value = value;

      return targetElement;
  }
  function getRemoveCommaNumberValue(targetElement){
    let value = 0;
    if(targetElement.value != ''){
      value = targetElement.value.replace(/,/g, '');
    }
    return Number(value);
  }
  function setTotalSupplyValue(){
    const totalSupplyValue = document.getElementById("component-order-modal-input-total-supply-value");
    const inputElements = document.querySelectorAll('.component-order-modal-component-order-list-supply-value');
    const sum = sumQuerySelectorAll(inputElements)
    totalSupplyValue.value = sum;
    calcTotalSubtotal();
    inputComma(totalSupplyValue);
  }
  function setTotalValueAddedTax(){
    const totalValueAddedTax = document.getElementById("component-order-modal-input-total-value-added-tax");
    const inputElements = document.querySelectorAll('.component-order-modal-component-order-list-value-added-tax');
    const sum = sumQuerySelectorAll(inputElements);
    totalValueAddedTax.value = sum;
    calcTotalSubtotal();
    inputComma(totalValueAddedTax);
  }
  function sumQuerySelectorAll(targetElements){
     const inputArray = Array.from(targetElements);
     const sum = inputArray.reduce((acc, inputElement) => {
      if(inputElement.value != ''){
        return acc + getRemoveCommaNumberValue(inputElement);
      }else {
        return acc;
      }
    }, 0);
    return sum;
  }
  function calcTotalSubtotal(){
    const totalSubtotal = document.getElementById("component-order-modal-input-total-subtotal");
    const totalSupplyValue = document.getElementById("component-order-modal-input-total-supply-value");
    const totalValueAddedTax = document.getElementById("component-order-modal-input-total-value-added-tax");
    const sum = getRemoveCommaNumberValue(totalSupplyValue) + getRemoveCommaNumberValue(totalValueAddedTax);
    totalSubtotal.value = sum;
    inputComma(totalSubtotal);
  }
</script>
</body>
</html>