<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<!--  <main id="main" class="main">-->
<!--    <div class="pagetitle">-->
<!--      <h1>Dashboard</h1>-->
<!--      <nav>-->
<!--        <ol class="breadcrumb">-->
<!--          <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--          <li class="breadcrumb-item active">Dashboard</li>-->
<!--        </ol>-->
<!--      </nav>-->
<!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->
<!--  </main>&lt;!&ndash; End #main &ndash;&gt;-->

<th:block th:replace="~{fragments/footer:: footerFragment}"></th:block>
</body>

</html>