<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<main id="main" class="main" style="width: 100%;">
    <form th:action="@{/ProductPurchaseOrderCreation}" method="post" th:object="${productOrderCustomDTO}" id="purchaseOrderForm">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="component-quotation-modal-container">
                            <div class="component-quotation-modal-main">
                                <div class="component-quotation-modal-recipient">
                                    <div class="component-quotation-modal-recipient-title">
                                        <h6>공급자</h6>
                                    </div>
                                    <div class="component-quotation-modal-recipient-info">

                                        <ul>
                                            <li>
                                                <label for="component-quotation-modal-input-order-number">발주번호</label>
                                                <input type="text" id="component-quotation-modal-input-order-number" name="productOrderNumber" th:value="${productOrderNumber}" readonly>
                                                <label for="component-quotation-modal-input-member">담당자</label>
                                                <input type="text" id="component-quotation-modal-input-member" name="memberName" th:value="김미영" readonly>
                                            </li>
                                            <li>
                                                <label for="component-quotation-modal-input-supplier-delivery-date">납기일</label>
                                                <input type="date" id="component-quotation-modal-input-supplier-delivery-date" name="productOrderDeliveryDate">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="component-quotation-modal-supplier">
                                    <div class="component-quotation-modal-supplier-title">
                                        <h6>공급 받는 자</h6>
                                    </div>
                                    <div class="component-quotation-modal-supplier-info">
                                        <ul>
                                            <li>
                                                <label for="component-quotation-modal-input-supplier-company-number">사업자 등록번호</label>
                                                <input type="text" id="component-quotation-modal-input-supplier-company-number" name="businessvenderCompanynumber">
                                                <label for="component-quotation-modal-input-supplier-company-name">상호</label>
                                                <input type="text" id="component-quotation-modal-input-supplier-company-name" name="businessvenderName">
                                            </li>
                                            <li>
                                                <label for="component-quotation-modal-input-supplier-company-address">사업장 소재지</label>
                                                <input type="text" id="component-quotation-modal-input-supplier-company-address" name="businessvenderAddress">
                                            </li>
                                            <li>
                                                <label for="component-quotation-modal-input-supplier-sector">업태</label>
                                                <input type="text" id="component-quotation-modal-input-supplier-sector" name="businessvenderSmalltype">
                                                <label for="component-quotation-modal-input-supplier-business-type">업종</label>
                                                <input type="text" id="component-quotation-modal-input-supplier-business-type" name="businessvenderBigtype">
                                            </li>
                                            <li>
                                                <label for="component-quotation-modal-input-supplier-representative">대표자</label>
                                                <input type="text" id="component-quotation-modal-input-supplier-representative" name="businessvenderRepresentativename">
                                                <label for="component-quotation-modal-input-supplier-phone">연락처</label>
                                                <input type="text" id="component-quotation-modal-input-supplier-phone" name="businessvenderPhone">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="component-quotation-modal-component-quotation-list" data-component-quotation-modal-component-quotation-list-top="0" data-component-quotation-modal-component-quotation-list-left="0">
                                    <table class="component-quotation-modal-component-quotation-list-table" id="component-quotation-modal-component-quotation-list-table">
                                        <colgroup>
                                            <col style="width: 15%">
                                            <col style="width: 18%">
                                            <col style="width: 10%">
                                            <col style="width: 6%">
                                            <col style="width: 14%">
                                            <col style="width: 8%">
                                            <col style="width: 14%">
                                            <col style="width: 14%">
                                            <col style="width: 18%">
                                        </colgroup>
                                        <tr>
                                            <td class="component-quotation-modal-component-quotation-list-top">추가</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">항목</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">수량</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">단위</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">단가</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">통화</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">공급가</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">부가세</td>
                                            <td class="component-quotation-modal-component-quotation-list-top">비고</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary add-row-btn">+</button>
                                                <button type="button" class="btn btn-danger remove-row-btn">-</button>
                                            </td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text" th:value="KOR"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary add-row-btn">+</button>
                                                <button type="button" class="btn btn-danger remove-row-btn">-</button>
                                            </td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text" th:value="KOR"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary add-row-btn">+</button>
                                                <button type="button" class="btn btn-danger remove-row-btn">-</button>
                                            </td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text" th:value="KOR"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary add-row-btn">+</button>
                                                <button type="button" class="btn btn-danger remove-row-btn">-</button>
                                            </td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text" th:value="KOR"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-primary add-row-btn">+</button>
                                                <button type="button" class="btn btn-danger remove-row-btn">-</button>
                                            </td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text" th:value="KOR"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                            <td><input type="text"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="component-quotation-modal-summary">
                                    <div class="component-quotation-modal-note">
                                        <textarea id="component-quotation-modal-total-note" name="productOrderItemDetail"></textarea>
                                    </div>
                                    <div class="component-quotation-modal-total">
                                        <div class="component-quotation-modal-total-line">
                                            <label for="component-quotation-modal-input-total-supply-value">공급가</label>
                                            <input type="text" id="component-quotation-modal-input-total-supply-value">
                                        </div>
                                        <div class="component-quotation-modal-total-line">
                                            <label for="component-quotation-modal-input-total-value-added-tax">부가세</label>
                                            <input type="text" id="component-quotation-modal-input-total-value-added-tax">
                                        </div>
                                        <div class="component-quotation-modal-total-line">
                                            <label for="component-quotation-modal-input-total-subtotal">소계</label>
                                            <input type="text" id="component-quotation-modal-input-total-subtotal" name="productOrderPriceAmount">
                                        </div>
                                    </div>
                                    <div class="component-quotation-modal-submit-button">
                                        <button type="submit" onclick="submitForm()" class="gradient-color-btn blue" style="width: 100px;">발주등록</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    </form>
    <th:block th:replace="~{fragments/footer:: footerFragment}"></th:block>
</main><!-- End #main -->

<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<script th:inline="javascript">
    var productOrderNumber = document.getElementById('component-quotation-modal-input-order-number').value;

    $(document).on('click', '.add-row-btn', function() {
        var currentRow = $(this).closest('tr');
        var newRow = currentRow.clone();
        newRow.find('input').val('');
        currentRow.after(newRow);
    });

    $(document).on('click', '.remove-row-btn', function() {
        $(this).closest('tr').remove();
    });

    function collectData() {
        var data = {};

        data.productOrderNumber = productOrderNumber;

        data.productOrderItemList = [];

        $('table.component-quotation-modal-component-quotation-list-table tbody tr:not(:first)').each(function() {
            var row = {};
            row.productId = $(this).find('td:eq(0) input').val();
            row.productOrderItemQuantity = $(this).find('td:eq(1) input').val();
            row.productOrderItemPrice = $(this).find('td:eq(2) input').val();
            row.productOrderItemTotalprice = $(this).find('td:eq(3) input').val();
            row.productOrderItemTotalpriceaddedtax = $(this).find('td:eq(4) input').val();
            row.productOrderItemNote = $(this).find('td:eq(8) input').val(); // 비고 필드 예시, 필요에 따라 추가

            data.productOrderItemList.push(row);
        });

        return JSON.stringify(data);
    }

    function submitForm() {
        document.getElementById("purchaseOrderForm").submit();
        var productOrderItemList = collectData();

        $.ajax({
            type: "POST",
            url: "/ProductPurchaseOrderItemCreation",
            contentType: "application/json",
            data: productOrderItemList,
            success: function (result) {
                console.log(result);
                // 성공적으로 서버에 전송된 후 실행할 코드
            },
            error: function (e) {
                console.log("Error:", e);
            }
        });
    }

    $(document).ready(function() {
        // form submit 방지 및 submitForm 함수 실행
        $("#purchaseOrderForm").submit(function(event) {
            event.preventDefault();
            submitForm();
        });
    });
</script>
</body>
</html>