<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<main id="main" class="main" style="width: 100%;">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Bordered Table -->
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="table-active" scope="col"></th>
                                <th class="table-active" scope="col">발주번호</th>
                                <th class="table-active" scope="col">발주요청일자</th>
                                <th class="table-active" scope="col">거래처명</th>
                                <th class="table-active" scope="col">품목(외)</th>
                                <th class="table-active" scope="col">합계금액</th>
                                <th class="table-active" scope="col">상태</th>
                                <th class="table-active" scope="col">조회(인쇄)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, stat : ${ProductOrderList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${item.productOrderNumber}"></td>
                                <td th:text="${#temporals.format(item.productOrderOrderdate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${item.businessvenderName}"></td>
                                <td th:utext="${item.productName + ' 외 ' + item.productOrderItemQuantity + '건'}"></td>
                                <td th:text="${item.productOrderPriceAmount}"></td>
                                <td th:text="${item.productOrderStatus}"></td>
                                <td th:text="${item.productOrderId}">
                                    <i class="ri-search-2-line">
                                        <a href="모달창떠야함"></a>
                                    </i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Bordered Table -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
<th:block th:replace="~{fragments/footer:: footerFragment}"></th:block>
</body>

</html>