<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<main id="main" class="main" style="width: 100%;">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Bordered Table -->
                        <table class="table table-bordered" style="margin: 0 10px 10px auto; vertical-align: center;">
                            <thead>
                            <tr>
                                <th class="table-active" scope="col" style="text-align: center"></th>
                                <th class="table-active" scope="col" style="text-align: center">발주번호</th>
                                <th class="table-active" scope="col" style="text-align: center">발주요청일자</th>
                                <th class="table-active" scope="col" style="text-align: center">거래처명</th>
                                <th class="table-active" scope="col" style="text-align: center">품목(외)</th>
                                <th class="table-active" scope="col" style="text-align: center">합계금액</th>
                                <th class="table-active" scope="col" style="text-align: center">수정일</th>
                                <th class="table-active" scope="col" style="text-align: center">상태</th>
                                <th class="table-active" scope="col" style="text-align: center">조회</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, stat : ${ProductOrderCheckoutList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${item.productOrderNumber}"></td>
                                <td style="text-align: center" th:text="${#dates.format(item.productOrderOrderdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td style="text-align: center" th:text="${item.businessvenderName}"></td>
                                <td >
                                    <span th:if="${item.productOrderItemQuantity == 0}" th:text="${item.productName}"></span>
                                    <span th:if="${item.productOrderItemQuantity > 0}" th:text="${item.productName + ' 외 ' + item.productOrderItemQuantity + '건'}"></span>
                                </td>
                                <td style="text-align: right" th:text="${item.productOrderPriceAmount}"></td>
                                <td style="text-align: center" th:text="${#dates.format(item.productOrderModifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td style="text-align: center">
                                    <span th:if="${item.productOrderStatus == 1}" th:text="진행중"></span>
                                    <span th:if="${item.productOrderStatus == 2}" th:text="발주확인"></span>
                                    <span th:if="${item.productOrderStatus == 3}" th:text="출고확정"></span>
                                    <span th:if="${item.productOrderStatus == 4}" th:text="완료"></span>
                                    <span th:if="${item.productOrderStatus == 5}" th:text="재검토?"></span>
                                    <span th:if="${item.productOrderStatus == 99}" th:text="종료"></span>
                                </td>
                                <td style="text-align: center">
                                    <div class="quotation-modal-submit-button" style="margin: -7px;">
                                        <input type="hidden" name="productOrderId" value="${item.productOrderId}">
                                        <a href="#" class="gradient-color-btn blue js-show-component-quotation-modal"
                                           th:attr="data-product-order-id=${item.productOrderId}">조회</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Bordered Table -->
                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li th:if="${currentPage > 0}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=0)}" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li th:if="${currentPage > 0}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${currentPage - 1})}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage ? 'page-item active' : 'page-item'}">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                                </li>
                                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${currentPage + 1})}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${totalPages - 1})}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End Pagination -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    <th:block th:replace="~{fragments/footer:: footerFragment}"></th:block>
    <!-- registration modal -->
    <div class="s-component-quotation-modal-container wrap-component-quotation-modal js-component-quotation-modal">
        <div class="s-component-quotation-modal-title">
            <span>발주확인</span>
        </div>
        <div class="s-component-quotation-modal-main">
            <div class="s-component-quotation-modal-recipient">
                <div class="s-component-quotation-modal-recipient-title">
                    <h6>공급자</h6>
                </div>
                <div class="s-component-quotation-modal-recipient-info">

                    <ul>
                        <li>
                            <label for="s-component-quotation-modal-input-order-number">발주번호</label>
                            <input type="text" id="s-component-quotation-modal-input-order-number" readonly>
                            <label for="s-component-quotation-modal-input-member">담당자</label>
                            <input type="text" id="s-component-quotation-modal-input-member" readonly>
                        </li>
                        <li>
                            <label for="s-component-quotation-modal-input-component-quotation-date">발주일</label>
                            <input type="date" id="s-component-quotation-modal-input-component-quotation-date" readonly>
                            <label for="s-component-quotation-modal-input-supplier-delivery-date">납기일</label>
                            <input type="date" id="s-component-quotation-modal-input-supplier-delivery-date">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="s-component-quotation-modal-supplier">
                <div class="s-component-quotation-modal-supplier-title">
                    <h6>공급 받는 자</h6>
                </div>
                <div class="s-component-quotation-modal-supplier-info">
                    <ul>
                        <li>
                            <label for="s-component-quotation-modal-input-supplier-company-number">사업자 등록번호</label>
                            <input type="text" id="s-component-quotation-modal-input-supplier-company-number" readonly>
                            <label for="s-component-quotation-modal-input-supplier-company-name">상호</label>
                            <input type="text" id="s-component-quotation-modal-input-supplier-company-name" readonly>
                        </li>
                        <li>
                            <label for="s-component-quotation-modal-input-supplier-company-address">사업장 소재지</label>
                            <input type="text" id="s-component-quotation-modal-input-supplier-company-address" readonly>
                        </li>
                        <li>
                            <label for="s-component-quotation-modal-input-supplier-sector">업태</label>
                            <input type="text" id="s-component-quotation-modal-input-supplier-sector" readonly>
                            <label for="s-component-quotation-modal-input-supplier-business-type">업종</label>
                            <input type="text" id="s-component-quotation-modal-input-supplier-business-type" readonly>
                        </li>
                        <li>
                            <label for="s-component-quotation-modal-input-supplier-representative">대표자</label>
                            <input type="text" id="s-component-quotation-modal-input-supplier-representative" readonly>
                            <label for="s-component-quotation-modal-input-supplier-phone">연락처</label>
                            <input type="text" id="s-component-quotation-modal-input-supplier-phone" readonly>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="s-component-quotation-modal-quotation-list" data-s-component-quotation-modal-quotation-list-top="0" data-s-component-quotation-modal-quotation-list-left="0">
                <table class="s-component-inventory-modal-quotation-list-table">
                    <colgroup>
                        <col style="width: 20%">
                        <col style="width: 12%">
                        <col style="width: 16%">
                    </colgroup>
                    <tr>
                        <td class="s-component-quotation-modal-quotation-list-top">부품</td>
                        <td class="s-component-quotation-modal-quotation-list-top">필요수량</td>
                        <td class="s-component-quotation-modal-quotation-list-top">재고</td>
                    </tr>
                </table>
            </div>

            <div class="s-component-quotation-modal-quotation-list" data-s-component-quotation-modal-quotation-list-top="0" data-s-component-quotation-modal-quotation-list-left="0">
                <table class="s-product-inventory-modal-quotation-list-table">
                    <colgroup>
                        <col style="width: 20%">
                        <col style="width: 12%">
                        <col style="width: 16%">
                        <col style="width: 16%">
                    </colgroup>
                    <tr>
                        <td class="s-component-quotation-modal-quotation-list-top">상품</td>
                        <td class="s-component-quotation-modal-quotation-list-top">주문수량</td>
                        <td class="s-component-quotation-modal-quotation-list-top">재고</td>
                        <td class="s-component-quotation-modal-quotation-list-top">상세</td>
                    </tr>
                </table>
            </div>
            <div class="s-component-quotation-modal-summary">
                <div class="s-component-quotation-modal-submit-button">
                    <input type="hidden" id="modal-productOrderId" name="modal-productOrderId">
                    <a href="#" class="gradient-color-btn blue js-complete-order" style="width: 100px;">확정</a>
                    <a href="#" class="s-component-quotation-modal-btn blue" style="width: 100px;">취소</a>
                    <a href="#" class="s-component-quotation-modal-btn blue" style="width: 100px;">취소</a>
                    <a href="#" class="gradient-color-btn blue js-hide-component-quotation-modal" style="width: 100px;">취소</a>
                </div>
            </div>

        </div>
    </div>
    <!-- registration modal end-->
</main><!-- End #main -->

<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        var isAnyAvailable = 0;
        var itemQuantity = 0;
        /*[ Show component-quotation modal ]*/
        $('.js-show-component-quotation-modal').on('click', function(e) { // 조회
            e.preventDefault();
            deleteTableContent();
            resetAnyAvailable();

            var productOrderId = $(this).data('product-order-id');
            $.ajax({
                type: 'GET',
                url: '/ProductOrderCheckoutConfirmationModal',
                data: {
                    productOrderId: productOrderId
                },
                success: function(response) {
                    console.log('Success:', response);
                    updateModalContent(response.response, response.member);
                },
                error: function() {
                    console.error('Failed to fetch ProductOrderInfoDataDTO');
                }
            });

            $.ajax({
                type: 'GET',
                url: '/ProductInventoryItemModal',
                data: {
                    productOrderId: productOrderId
                },
                success: function(response) {
                    console.log('Success:', response);
                    updateProductInventoryItems(response);
                },
                error: function() {
                    console.error('Failed to fetch ProductInventory');
                }
            });


        });

        function deleteTableContent() {
            $('.s-product-inventory-modal-quotation-list-table tbody .s-product-inventory').remove();
            $('.s-component-inventory-modal-quotation-list-table tbody .s-component-inventory').remove();
        }
        var totalPrice = 0;

        function updateModalContent(data, member) {
            // 날짜 형식 변환 함수
            function formatDate(dateString) {
                var date = new Date(dateString);
                var year = date.getFullYear();
                var month = (date.getMonth() + 1).toString().padStart(2, '0');
                var day = date.getDate().toString().padStart(2, '0');
                return `${year}-${month}-${day}`;
            }

        // 발주일 날짜 형식 변환
            var orderDate = formatDate(data.productOrder.productOrderOrderdate);
            $('#s-component-quotation-modal-input-component-quotation-date').val(orderDate);

            // 납기일 날짜 형식 변환
            var deliveryDate = formatDate(data.productOrder.productOrderDeliverydate);
            $('#s-component-quotation-modal-input-supplier-delivery-date').val(deliveryDate);

            // 나머지 데이터 갱신
            $('#s-component-quotation-modal-input-member').val(member.memberName);
            $('#s-component-quotation-modal-input-order-number').val(data.productOrder.productOrderNumber);
            $('#s-component-quotation-modal-input-supplier-company-number').val(data.businessVender.businessvenderCompanynumber);
            $('#s-component-quotation-modal-input-supplier-company-name').val(data.businessVender.businessvenderName);
            $('#s-component-quotation-modal-input-supplier-company-address').val(data.businessVender.businessvenderAddress);
            $('#s-component-quotation-modal-input-supplier-sector').val(data.businessVender.businessvenderSmalltype);
            $('#s-component-quotation-modal-input-supplier-business-type').val(data.businessVender.businessvenderBigtype);
            $('#s-component-quotation-modal-input-supplier-representative').val(data.businessVender.businessvenderRepresentativename);
            $('#s-component-quotation-modal-input-supplier-phone').val(data.businessVender.businessvenderPhone);
            $('#modal-productOrderId').val(data.productOrder.productOrderId);

            $('.js-component-quotation-modal').addClass('show-component-quotation-modal');
        }

        function updateProductInventoryItems(productInventory) {
            var tableBody = $('.s-product-inventory-modal-quotation-list-table tbody');
            tableBody.append();

            $.each(productInventory, function(index, item) {
                itemQuantity += 1;
                var row = $('<tr class="s-product-inventory"></tr>');
                var buttonText = (item.productOrderItemQuantity <= item.productInventoryQuantity) ?
                '<td>출고가능</td>' : '<td><button name="modal-productId" class="custom-button blue" value="' + item.productId + '">상세</button></td>';
                if (buttonText === '<td>출고가능</td>') {
                    isAnyAvailable += 1;
                }
                row.append('<td><input type="text" value="' + item.productId + '" readonly></td>');
                row.append('<td><input type="text" value="' + item.productOrderItemQuantity + '" readonly></td>');
                row.append('<td><input type="text" value="' + item.productInventoryQuantity + '" readonly></td>');
                row.append(buttonText);
                tableBody.append(row);
            });
        }

        $('.s-product-inventory-modal-quotation-list-table').on('click', '.custom-button.blue', function(e) {
            console.log('Button Clicked');
            e.preventDefault();

            var productOrderId = $('#modal-productOrderId').val();
            var productId = $(this).val();
            $.ajax({
                    type: 'GET',
                    url: '/ComponentInventoryItemModal',
                    data: {
                        productOrderId: productOrderId,
                        productId: productId
                    },
                    success: function(data) {
                        $('.s-component-inventory-modal-quotation-list-table tbody .s-component-inventory').remove();
                        updateComponentInventoryItems(data);

                    },
                    error: function() {
                        console.error('Failed to update ComponentInventory');
                    }
            });
        });
        function updateComponentInventoryItems(data) {
            var tableBody = $('.s-component-inventory-modal-quotation-list-table tbody');
            tableBody.append();

            $.each(data.component, function(index, item) {
                var productNecessaryAmount = data.product.productOrderItemQuantity - data.product.productInventoryQuantity;
                var productNecessarycomponentAmount = productNecessaryAmount * item.productNecessarycomponentAmount;
                var row = $('<tr class="s-component-inventory"></tr>');
                row.append('<td><input type="text" value="' + item.componentId + '" readonly></td>');
                row.append('<td><input type="text" value="' + productNecessarycomponentAmount + '" readonly></td>');
                row.append('<td><input type="text" value="' + item.componentInventoryQuantity + '" readonly></td>');
                tableBody.append(row);
            });
        }
        function resetAnyAvailable() {
            isAnyAvailable = 0;
            itemQuantity = 0;
        }
        $('.gradient-color-btn.blue.js-complete-order').on('click', function(e) { // 확정
            e.preventDefault();

            var productOrderId = $('#modal-productOrderId').val();
            var statusValue = 3;


            if (isAnyAvailable !== itemQuantity) {
                alert('재고가 부족합니다.');
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/ProductOrderCheckoutConfirmationModal',
                    data: {
                        productOrderId: productOrderId,
                        updateStatus: 3
                    },
                    success: function() {
                        alert('출고완료되었습니다.');
                        deleteTableContent();
                        $('.js-s-component-quotation-modal input').val('');
                        $('.js-component-quotation-modal').removeClass('show-component-quotation-modal');


                        location.reload();
                    },
                    error: function() {
                        console.error('Failed to update status');
                    }
                });
            }
        });

        $('.js-hide-component-quotation-modal').on('click', function() { // 취소
            $('.js-s-component-quotation-modal input').val('');
            deleteTableContent();
            resetAnyAvailable();
            $('.js-component-quotation-modal').removeClass('show-component-quotation-modal');
        });
    });
</script>
</body>
</html>