<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
<main id="main" class="main" style="width: 100%;">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <!-- Bordered Table -->
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="table-active" scope="col" style="text-align: center"></th>
                                <th class="table-active" scope="col" style="text-align: center">발주번호</th>
                                <th class="table-active" scope="col" style="text-align: center">발주요청일자</th>
                                <th class="table-active" scope="col" style="text-align: center">거래처명</th>
                                <th class="table-active" scope="col" style="text-align: center">품목(외)</th>
                                <th class="table-active" scope="col" style="text-align: center">합계금액</th>
                                <th class="table-active" scope="col" style="text-align: center">상태</th>
                                <th class="table-active" scope="col" style="text-align: center">조회(인쇄)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item, stat : ${ProductOrderList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${item.productOrderNumber}"></td>
                                <td th:text="${#dates.format(item.productOrderOrderdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td th:text="${item.businessvenderName}"></td>
                                <td >
                                    <span th:if="${item.productOrderItemQuantity == 0}" th:text="${item.productName}"></span>
                                    <span th:if="${item.productOrderItemQuantity > 0}" th:text="${item.productName + ' 외 ' + item.productOrderItemQuantity + '건'}"></span>
                                </td>
                                <td style="text-align: right" th:text="${item.productOrderPriceAmount}"></td>
                                <td style="text-align: center">
                                    <span th:if="${item.productOrderStatus == 1}" th:text="진행중"></span>
                                    <span th:if="${item.productOrderStatus == 2}" th:text="진행중"></span>
                                    <span th:if="${item.productOrderStatus == 3}" th:text="진행중"></span>
                                    <span th:if="${item.productOrderStatus == 4}" th:text="종료"></span>
                                </td>
                                <td style="text-align: center">
                                    <div class="quotation-modal-submit-button">
                                        <input type="hidden" name="productOrderId" value="${item.productOrderId}">
                                        <i class="ri-search-2-line">
                                            <a href="#" class="gradient-color-btn blue js-show-quotation-modal"></a>
                                        </i>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Bordered Table -->
                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li th:if="${currentPage > 0}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=0)}" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                    </a>
                                </li>
                                <li th:if="${currentPage > 0}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${currentPage - 1})}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage ? 'page-item active' : 'page-item'}">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                                </li>
                                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${currentPage + 1})}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                                    <a class="page-link" th:href="@{/ProductOrderStatus(page=${totalPages - 1})}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End Pagination -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    <th:block th:replace="~{fragments/footer:: footerFragment}"></th:block>
    <div class="quotation-modal-container wrap-quotation-modal js-quotation-modal">
        <div class="quotation-modal-title">
            <span>견적서</span>
        </div>
        <div class="quotation-modal-main">
            <div class="quotation-modal-recipient">
                <div class="quotation-modal-recipient-title">
                    <h5>공급 받는 자</h5>
                </div>
                <div class="quotation-modal-recipient-info">

                    <ul>
                        <li>
                            <label for="quotation-modal-input-date">견적일</label>
                            <input type="date" id="quotation-modal-input-date">
                        </li>
                        <li>
                            <label for="quotation-modal-input-member">담당자</label>
                            <input type="text" id="quotation-modal-input-member">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="quotation-modal-supplier">
                <div class="quotation-modal-supplier-title">
                    <h5>공급자</h5>
                </div>
                <div class="quotation-modal-supplier-info">
                    <ul>
                        <li>
                            <label for="quotation-modal-input-supplier-company-number">사업자 등록번호</label>
                            <input type="text" id="quotation-modal-input-supplier-company-number">
                            <label for="quotation-modal-input-supplier-company-name">상호</label>
                            <input type="text" id="quotation-modal-input-supplier-company-name">
                        </li>
                        <li>
                            <label for="quotation-modal-input-supplier-company-address">사업장 소재지</label>
                            <input type="text" id="quotation-modal-input-supplier-company-address">
                        </li>
                        <li>
                            <label for="quotation-modal-input-supplier-sector">업태</label>
                            <input type="text" id="quotation-modal-input-supplier-sector">
                            <label for="quotation-modal-input-supplier-business-type">업종</label>
                            <input type="text" id="quotation-modal-input-supplier-business-type">
                        </li>
                        <li>
                            <label for="quotation-modal-input-supplier-representative">대표자</label>
                            <input type="text" id="quotation-modal-input-supplier-representative">
                            <label for="quotation-modal-input-supplier-phone">연락처</label>
                            <input type="text" id="quotation-modal-input-supplier-phone">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="quotation-modal-quotation-list" data-quotation-modal-quotation-list-top="0" data-quotation-modal-quotation-list-left="0">
                <table class="quotation-modal-quotation-list-table">
                    <colgroup>
                        <col style="width: 20%">
                        <col style="width: 12%">
                        <col style="width: 16%">
                        <col style="width: 16%">
                        <col style="width: 16%">
                        <col style="width: 20%">
                    </colgroup>
                    <tr>
                        <td class="quotation-modal-quotation-list-top">항목</td>
                        <td class="quotation-modal-quotation-list-top">수량</td>
                        <td class="quotation-modal-quotation-list-top">단가</td>
                        <td class="quotation-modal-quotation-list-top">공급가</td>
                        <td class="quotation-modal-quotation-list-top">부가세</td>
                        <td class="quotation-modal-quotation-list-top">비고</td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                    </tr>
                </table>
            </div>
            <div class="quotation-modal-summary">
                <div class="quotation-modal-note">
                    <textarea></textarea>
                </div>
                <div class="quotation-modal-total">
                    <div class="quotation-modal-total-line">
                        <label for="quotation-modal-input-total-supply-value">공급가</label>
                        <input type="text" id="quotation-modal-input-total-supply-value" readonly>
                    </div>
                    <div class="quotation-modal-total-line">
                        <label for="#quotation-modal-input-total-value-added-tax">부가세</label>
                        <input type="text" id="#quotation-modal-input-total-value-added-tax" readonly>
                    </div>
                    <div class="quotation-modal-total-line">
                        <label for="#quotation-modal-input-total-subtotal">소계</label>
                        <input type="text" id="#quotation-modal-input-total-subtotal" readonly>
                    </div>
                </div>
                <div class="quotation-modal-submit-button">
                    <a href="#" class="quotation-modal-btn blue">등록</a>
                    <a href="#" class="quotation-modal-btn blue">취소</a>
                </div>
            </div>

        </div>
    </div>
</main><!-- End #main -->

<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<script>
    /*[ Show component-quotation modal ]*/
$('.js-show-component-quotation-modal').on('click',function(e){
    e.preventDefault();
    $('.js-component-quotation-modal').addClass('show-component-quotation-modal');
});

$('.js-hide-component-quotation-modal').on('click',function(){
    $('.js-component-quotation-modal input').val('');
    $('.js-component-quotation-modal').removeClass('show-component-quotation-modal');
});

</script>
</body>
</html>